---
# defaults file for analysis
analysis_packages_el6:
  - preupgrade-assistant
  - preupgrade-assistant-el6toel7
  - redhat-upgrade-tool
  - openscap
  - openscap-engine-sce

analysis_packages_el7:
  # TODO: Seems to cause package dependency problems with post upgrade cleanup.
  # - leapp-upgrade-el7toel8
  # Try this instead.
  - leapp-upgrade

analysis_packages_el8:
  # TODO: Seems to cause package dependency problems with post upgrade cleanup.
  # - leapp-upgrade-el8toel9
  # Try this instead.
  - leapp-upgrade
  # TODO: This should be part of inhibitor remediation.
  # - vdo
  # TODO: only w/ rhui for aws
  # - leapp-rhui-aws

analysis_repos_el6:
  - rhel-6-server-extras-rpms
  - rhel-6-server-optional-rpms

analysis_repos_el7:
  - rhel-7-server-extras-rpms

# If defined, leapp_answerfile will be used as the contents of /var/log/leapp/answerfile.
# leapp_answerfile: |
#   [remove_pam_pkcs11_module_check]
#   confirm = True

leapp_upgrade_type: satellite
# leapp_upgrade_type: cdn
# leapp_upgrade_type: rhui
# leapp_upgrade_type: custom

leapp_preupg_opts: "{{ '--no-rhsm' if leapp_upgrade_type == 'rhui' or leapp_upgrade_type == 'custom' else '' }}"

# Satellite Organization and Activation Keys are required if using Satellite to change content views
# unless the content view already in use has all required repositories.
# satellite_organization: Example
# satellite_activation_key_pre_leapp: rhel{{ ansible_distribution_major_version }}
# satellite_activation_key_leapp: rhel{{ ansible_distribution_major_version }}_leapp

leapp_repos_enabled: []
# leapp_repos_enabled:
#   - satellite-client-6-for-rhel-{{ ansible_distribution_major_version | int + 1 }}-x86_64-rpms

# Treat all high risk findings as inhibitors, not just those exclusively marked as inhibitors by Leapp
leapp_high_sev_as_inhibitors: false

# List of keys of known inhibitors which will be excluded when setting upgrade_inhibited and leapp_inhibitors
# This allows ignoring inhibitors for which remediations are available and require no further attention
leapp_known_inhibitors: []

# Dict of env vars to be used when the leapp command is run
leapp_env_vars: {}
# leapp_env_vars:
#   LEAPP_UNSUPPORTED: 1
#   LEAPP_DEVEL_DATABASE_SYNC_OFF: 1

# For leapp_upgrade_type == "custom"
# Used to configure repos before running leapp analysis / installing leapp packages.
local_repos_pre_leapp: []
# local_repos_pre_leapp:
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo02.example.com/leapp/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     # state: present # Defaults to present
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo02.example.com/leapp/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     # state: present # Defaults to present

# For leapp_upgrade_type == "custom"
# Used to generate /etc/leapp/files/leapp_upgrade_repositories.repo
# Generated using ansible.builtin.yum_repository.
local_repos_leapp: []
# local_repos_leapp:
#   - name: rhel-8-for-x86_64-baseos-rpms
#     description: Red Hat 8.10 Base OS
#     baseurl: http://repo01.example.com/8.10/rhel-8-for-x86_64-baseos-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#   - name: rhel-8-for-x86_64-appstream-rpms
#     description: Red Hat 8.10 App Stream
#     baseurl: http://repo01.example.com/8.10/rhel-8-for-x86_64-baseos-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.

# For leapp_upgrade_type == "custom"
# Used to return repos to previous state after leapp analysis if necessary.
local_repos_post_analysis: []
# local_repos_post_analysis:
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo02.example.com/leapp/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     state: absent # Defaults to present
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo02.example.com/leapp/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     state: absent # Defaults to present
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo01.example.com/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     # state: present # Defaults to present
#   - name: rhel-server-7-rpms
#     description: Red Hat 7 Server
#     baseurl: http://repo01.example.com/7Server/rhel-server-7-rpms
#     # enabled: 1 # Default 1
#     # gpgcheck: 0 # Default 0
#     # gpgkey: XXX # Default omit.
#     # repo_gpgcheck: 0 # Default omit.
#     # file: local # The filename to use in /etc/yum.repos.d minus the .repo, default local.
#     # state: present # Defaults to present

os_path: $PATH

async_timeout_maximum: 7200
async_poll_interval: 60
...
