---
# defaults file for analysis
analysis_packages_el7:
  # TODO: Seems to cause package dependency problems with post upgrade cleanup.
  # - leapp-upgrade-el7toel8
  # Try this instead.
  - leapp-upgrade
  # TODO: this should be part of LVM snapshot process.
  # - lvm2-python-boom

analysis_packages_el8:
  # TODO: Seems to cause package dependency problems with post upgrade cleanup.
  # - leapp-upgrade-el8toel9
  # Try this instead.
  - leapp-upgrade
  # TODO: This should be part of inhibitor remediation.
  # - vdo
  # TODO: This should be part of LVM snapshot process.
  # - boom-boot
  # TODO: only w/ rhui for aws
  # - leapp-rhui-aws

analysis_repos_el7:
  - rhel-7-server-extras-rpms

# If defined, leapp_answerfile will be used as the contents of /var/log/leapp/answerfile.
# leapp_answerfile: |
#   [remove_pam_pkcs11_module_check]
#   confirm = True

# leapp_upgrade_type: connected
leapp_upgrade_type: disconnected

leapp_preupg_opts: "{{ '--no-rhsm' if leapp_upgrade_type == 'connected' else '' }}"

# leapp_metadata_url only used for disconnected leapp upgrades including Satellite
# https://access.redhat.com/articles/3664871
# Download and host the leapp-data file somewhere in the environment.
# Note that there is a different leapp data file for RHEL 7.6 for IBM POWER 9 (little endian) or IBM Z (structure A) architectures.
leapp_metadata_url: https://satellite.example.com/pub/leapp-data-21.tar.gz

satellite_organization: Example
satellite_activation_key_leapp: rhel{{ ansible_distribution_major_version }}_leapp

leapp_repos_enabled: []
# leapp_repos_enabled:
#   - satellite-client-6-for-rhel-{{ ansible_distribution_major_version | int + 1 }}-x86_64-rpms

result_filename: '/var/log/leapp/leapp-report.txt'

kernel_modules_to_unload:
  - btrfs
...
