---
# handlers file for analysis
- name: Register to pre leapp activation key
  community.general.redhat_subscription:
    state: present
    activationkey: "{{ leapp_satellite_activation_key_pre_leapp }}"
    org_id: "{{ leapp_satellite_organization }}"
    force_register: true
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_organization is not none
    - leapp_satellite_activation_key_pre_leapp is not none

# TODO: Having issues with community.general.redhat_subscription and subscription-manager on RHEL 6.
- name: Register to pre leapp activation key RHEL 6
  ansible.builtin.shell: >
    export PATH={{ leapp_os_path }};
    subscription-manager register
    --org="{{ leapp_satellite_organization }}"
    --activationkey="{{ leapp_satellite_activation_key_pre_leapp }}"
    --force
  register: sub_man_reg
  changed_when: true
  failed_when: false

- name: Remove lynx package
  ansible.builtin.package:
    name: lynx
    state: absent

# Keep this last so it's easy to find in the job output.
- name: Display inhibitors
  ansible.builtin.debug:
    var: results_inhibitors.stdout_lines
  when:
    - results_inhibitors is defined
    - results_inhibitors.stdout_lines | length > 0
  listen: Preupgrade analysis report is done

- name: Display errors
  ansible.builtin.debug:
    var: results_errors.stdout_lines
  when:
    - results_errors is defined
    - results_errors.stdout_lines | length > 0
  listen: Preupgrade analysis report is done

- name: Preupgrade analysis report is done
  ansible.builtin.debug:
    msg: >-
      The preupgrade analysis report generation is now complete.
      {{ 'WARNING: Inhibitors' if upgrade_inhibited else 'SUCCESS: No inhibitors' }} found.
      Review the tasks above or the result file at {{ leapp_result_filename }}.

...
