---
# handlers file for analysis
- name: Register with pre-leapp Satellite activation key
  ansible.builtin.include_role:
    name: "{{ leapp_infra_upgrade_system_roles_collection }}.rhc"
  vars:
    rhc_state: reconnect
    rhc_organization: "{{ leapp_satellite_organization }}"
    rhc_auth:
      activation_keys:
        keys:
          - "{{ leapp_satellite_activation_key_pre_leapp }}"
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_organization | default('') | length > 0
    - leapp_satellite_activation_key_pre_leapp | default('') | length > 0

# Note: RHEL 6 does not support the rhc role - using subscription-manager directly.
- name: Register with pre-leapp Satellite activation key (RHEL 6)
  ansible.builtin.shell: >
    export PATH={{ leapp_os_path }};
    subscription-manager register
    --org="{{ leapp_satellite_organization }}"
    --activationkey="{{ leapp_satellite_activation_key_pre_leapp }}"
    --force
  register: sub_man_reg
  changed_when: true
  failed_when: false

- name: Remove lynx package
  ansible.builtin.package:
    name: lynx
    state: absent

# Keep this last so it's easy to find in the job output.
- name: Display inhibitors
  ansible.builtin.debug:
    var: results_inhibitors.stdout_lines
  when:
    - results_inhibitors is defined
    - results_inhibitors.stdout_lines | length > 0
  listen: Preupgrade analysis report is done

- name: Display errors
  ansible.builtin.debug:
    var: results_errors.stdout_lines
  when:
    - results_errors is defined
    - results_errors.stdout_lines | length > 0
  listen: Preupgrade analysis report is done

- name: Preupgrade analysis report is done
  ansible.builtin.debug:
    msg: >-
      The preupgrade analysis report generation is now complete.
      {{ 'WARNING: Inhibitors' if upgrade_inhibited else 'SUCCESS: No inhibitors' }} found.
      Review the tasks above or the result file at {{ leapp_result_filename }}.

...
