---
- name: leapp_newest_kernel_not_in_use | Boot to latest kernel
  block:
    - name: leapp_newest_kernel_not_in_use | Get list of installed kernels packages sorted by the newest version
      ansible.builtin.shell: |
        set -o pipefail
        rpm -q kernel --queryformat '%{version}-%{release}.%{arch}\n' | sort -Vr
      register: installed_kernels
      changed_when: false

    - name: leapp_newest_kernel_not_in_use | Get the default kernel
      ansible.builtin.shell: |
        set -o pipefail
        grubby --default-kernel | sed 's/^\/boot\/vmlinuz\-//'
      register: default_kernel_version
      changed_when: false

    - name: leapp_newest_kernel_not_in_use | Check the kernel versions
      ansible.builtin.debug:
        msg: "The newest kernel {{ installed_kernels.stdout_lines[0] }} is already in use. Skipping this task."
      when: installed_kernels.stdout_lines[0] == default_kernel_version.stdout

    - name: leapp_newest_kernel_not_in_use | Process remediation
      when: installed_kernels.stdout_lines[0] != default_kernel_version.stdout
      block:
        - name: leapp_newest_kernel_not_in_use | Set default kernel to latest
          ansible.builtin.command: grubby --set-default /boot/vmlinuz-{{ installed_kernels.stdout_lines[0] }}
          register: set_default_kernel
          changed_when: set_default_kernel is success

        - name: leapp_newest_kernel_not_in_use | Update-and-reboot | Reboot when updates applied
          ansible.builtin.reboot:
            reboot_timeout: "{{ reboot_timeout }}"
            post_reboot_delay: "{{ post_reboot_delay }}"
          timeout: "{{ reboot_timeout }}"

...
