---
- name: leapp_missing_pkg | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_missing_pkg | Install required leapp data package on public clouds
  vars:
    leapp_inhibitor_keys:
      - 75c945f6ed19532e7d493bafedeb1b82e44750c5
      - eb93636a777abb26c2598cf10217cde9fa4733ed
      - a89d1f95ff6cc1ead9df3c974cce08985d20df98
      - cc99dc8eef25c09da6b5485ed0afde1252322756
      - 220d7a9bdee78a75bbd8ca6aa347c98e50d4da41
      - 8ca582fba112a46fbcd48cb660074b71ea554950
    leapp_inhibitor_title: Package "[-\w]+" is (missing|not installed)
    leapp_report_entries: "{{ leapp_report_data.entries | default([]) }}"
    leapp_inhibitor_entries_by_key: "{{ leapp_report_entries
      | selectattr('key', 'defined')
      | selectattr('key', 'in', leapp_inhibitor_keys)
      | list }}"
    leapp_inhibitor_entries_by_title: "{{ leapp_report_entries
      | selectattr('title', 'defined')
      | selectattr('title', 'match', '(?i)' ~ leapp_inhibitor_title)
      | list }}"
    leapp_inhibitor_entries: "{{ leapp_inhibitor_entries_by_key
      if leapp_inhibitor_entries_by_key | length > 0
      else leapp_inhibitor_entries_by_title }}"
    leapp_remediation_matches: "{{ leapp_inhibitor_entries
      | map(attribute='detail.remediations') | flatten
      | list }}"
    leapp_inhibitor_remediation: "{{ leapp_remediation_matches | selectattr('type', 'eq', 'command') | first
      if leapp_remediation_matches | length > 0 else {} }}"
  when: not leapp_report_missing | default(false)
  block:
    - name: leapp_missing_pkg | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when:
        - leapp_inhibitor_remediation | length == 0
          or leapp_inhibitor_remediation.context | default([]) | length == 0

    - name: leapp_missing_pkg | Install the missing package via remediation command
      ansible.builtin.command:
        argv: "{{ leapp_inhibitor_remediation.context }}"
      when:
        - leapp_inhibitor_remediation | length > 0
        - leapp_inhibitor_remediation.context | default([]) | length > 0
      register: remediation_result
      changed_when: remediation_result is success
...
