---
- name: leapp_loaded_removed_kernel_drivers | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_loaded_removed_kernel_drivers | Unload kernel drivers which have been removed in next RHEL release
  vars:
    entry_title_pattern: Leapp detected loaded kernel drivers which have been removed in RHEL \d+. Upgrade cannot proceed.
    unsupported_modules: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title_pattern) |
      selectattr('summary', 'defined') | rejectattr('summary', 'eq', '') |
      map(attribute='summary') | flatten | map('regex_findall', '(?<=- ).*') | flatten | list }}"
  when: not leapp_report_missing | default(false)
  block:
    - name: leapp_loaded_removed_kernel_drivers | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: unsupported_modules | length == 0

    - name: leapp_loaded_removed_kernel_drivers | Process remediation
      when: unsupported_modules | length > 0
      block:
        - name: leapp_loaded_removed_kernel_drivers | Print unsupported modules
          ansible.builtin.debug:
            var: unsupported_modules

        - name: leapp_loaded_removed_kernel_drivers | Unload unsupported modules
          ansible.builtin.include_role:
            name: infra.leapp.common
            tasks_from: manage_kernel_modules.yml
          vars:
            leapp_kernel_modules: "{{ unsupported_modules }}"
            leapp_kernel_modules_state: absent
          when: unsupported_modules | length > 0

...
