---
- name: leapp_deprecated_sshd_directive | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_deprecated_sshd_directive | Remove the deprecated directives from the sshd configuration.
  vars:
    entry_title: A deprecated directive in the sshd configuration
    remediation_matches: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title) |
      map(attribute='detail.remediations') | flatten | list }}"
    commands: "{{ remediation_matches | selectattr('type', 'eq', 'command') | list
      if remediation_matches | length > 0 else [] }}"
    remediation: "{{ commands | first if commands | length > 0 else {} }}"
  when:
    - not leapp_report_missing | default(false)
    - ansible_distribution == 'RedHat'
    - ansible_distribution_major_version | int == 8
  block:
    - name: leapp_deprecated_sshd_directive | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: remediation | length == 0

    - name: leapp_deprecated_sshd_directive | Process remediation
      when: remediation | length > 0
      block:
        - name: leapp_deprecated_sshd_directive | Output command to be executed
          ansible.builtin.debug:
            var: remediation.context | join(' ')

        - name: leapp_deprecated_sshd_directive | Execute the remediation command - remove the deprecated directives from the sshd configuration
          ansible.builtin.command:
            argv: "{{ remediation.context }}"
          register: remediation_command_output
          changed_when: remediation_command_output is success

        - name: leapp_deprecated_sshd_directive | Show remediation command output
          ansible.builtin.debug:
            var: remediation_command_output.stdout_lines
...
