---
- name: leapp_nfs_detected | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_nfs_detected | Disable NFS temporarily for the upgrade
  vars:
    entry_title: Use of NFS detected. Upgrade can't proceed
    summaries: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title) | map(attribute='summary') | list }}"
    summary: "{{ summaries | first if summaries | length > 0 else '' }}"
    split_summary: "{{ summary.split('- NFS')[1:] | map('regex_replace', '^[\\s\\n]+', '- NFS ') | list }}"
  when: not leapp_report_missing | default(false)
  block:
    - name: leapp_nfs_detected | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: summary | length == 0 or split_summary | length == 0

    - name: leapp_nfs_detected | Process remediation
      when:
        - summary | length > 0
        - split_summary | length > 0
      block:
        - name: leapp_nfs_detected | Get fstab_entries
          ansible.builtin.set_fact:
            fstab_entries: "{{ item.split('- NFS shares found in /etc/fstab:') | last | trim | regex_findall('- ([^ ]+)', '\\1') | list }}"
          loop: "{{ split_summary }}"
          when: "'- NFS shares found in /etc/fstab:' in item"

        - name: leapp_nfs_detected | Get nfs_mounts
          ansible.builtin.set_fact:
            nfs_mounts: "{{ item.split('- NFS shares currently mounted:') | last | trim | regex_findall('- ([^ ]+)', '\\1') | list }}"
          loop: "{{ split_summary }}"
          when: "'- NFS shares currently mounted:' in item"

        - name: leapp_nfs_detected | Comment NFS shares in /etc/fstab
          loop: "{{ fstab_entries }}"
          ansible.builtin.shell: |
            set -o pipefail
            entry="{{ item }}"
            grep -qF "$entry" /etc/fstab && sed -i "s|^$entry|# $entry|" /etc/fstab
          when: fstab_entries is defined
          changed_when: fstab_entries is defined

        - name: leapp_nfs_detected | Unmount NFS Mounts
          ansible.builtin.command: umount -l {{ item | quote }}
          loop: "{{ nfs_mounts }}"
          when: nfs_mounts is defined
          changed_when: nfs_mounts is defined

...
