---
- name: leapp_firewalld_unsupported_tftp_client | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_firewalld_unsupported_tftp_client | Remove unsupported tftp-client service from firewalld
  vars:
    entry_title: Firewalld Service tftp-client Is Unsupported
    summaries: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title) |
      selectattr('summary', 'defined') | rejectattr('summary', 'eq', '') |
      map(attribute='summary') | list }}"
    summary: "{{ summaries | first if summaries | length > 0 else '' }}"
  when:
    - not leapp_report_missing | default(false)
    - ansible_distribution == 'RedHat'
    - ansible_distribution_major_version | int == 8
  block:
    - name: leapp_firewalld_unsupported_tftp_client | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: summary | length == 0

    - name: leapp_firewalld_unsupported_tftp_client | Remove the service from zones and policies
      when: summary | length > 0
      vars:
        zone_list: "{{ all_zones.stdout | split }}"
        not_enabled_error_message: "Warning: NOT_ENABLED: tftp-client"
      block:
        - name: leapp_firewalld_unsupported_tftp_client | List all firewalld zones
          ansible.builtin.command: firewall-cmd --get-zones
          register: all_zones
          changed_when: false

        - name: leapp_firewalld_unsupported_tftp_client | Remove the service from zones
          ansible.builtin.command: firewall-cmd --permanent --zone={{ item | quote }} --remove-service=tftp-client
          loop: "{{ zone_list }}"
          register: remove_from_zones
          changed_when: not not_enabled_error_message in remove_from_zones.stderr_lines

        - name: leapp_firewalld_unsupported_tftp_client | Remove the service from policies
          ansible.builtin.command: firewall-cmd --permanent --remove-service=tftp-client
          register: remove_from_policies
          changed_when: not not_enabled_error_message in remove_from_policies.stderr_lines

        - name: leapp_firewalld_unsupported_tftp_client | List all rich rules
          ansible.builtin.command: firewall-cmd --list-rich-rules
          register: rich_rules
          changed_when: false

        - name: leapp_firewalld_unsupported_tftp_client | Iterate through rich rules and remove tftp-client
          ansible.builtin.command: firewall-cmd --permanent --remove-rich-rule {{ item | quote }}
          loop: "{{ rich_rules.stdout_lines }}"
          when: "'tftp-client' in item"
          register: remove_from_rich_rules
          changed_when: "'tftp-client' in item"

        - name: leapp_firewalld_unsupported_tftp_client | Reload firewalld to apply changes
          ansible.builtin.service:
            name: firewalld
            state: reloaded
          when: remove_from_zones is changed or remove_from_policies is changed or remove_from_rich_rules is changed

...
