---
- name: leapp_legacy_network_configuration | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_legacy_network_configuration | Convert network manager configuration to the native keyfile format
  vars:
    leapp_inhibitor_keys:
      - 7de70b43c3c9d20075e30894ac24a4c4e2d70837
    leapp_inhibitor_title: Legacy network configuration found
    leapp_report_entries: "{{ leapp_report_data.entries | default([]) }}"
    leapp_inhibitor_entries_by_key: "{{ leapp_report_entries
      | selectattr('key', 'defined')
      | selectattr('key', 'in', leapp_inhibitor_keys)
      | list }}"
    leapp_inhibitor_entries_by_title: "{{ leapp_report_entries
      | selectattr('title', 'defined')
      | selectattr('title', 'match', '(?i)' ~ leapp_inhibitor_title)
      | list }}"
    leapp_inhibitor_entries: "{{ leapp_inhibitor_entries_by_key
      if leapp_inhibitor_entries_by_key | length > 0
      else leapp_inhibitor_entries_by_title }}"
    leapp_remediation_matches: "{{ leapp_inhibitor_entries
      | map(attribute='detail.remediations')
      | flatten | list }}"
    leapp_inhibitor_remediation: "{{ leapp_remediation_matches | selectattr('type', 'eq', 'command') | first
      if leapp_remediation_matches | length > 0 else {} }}"
  when:
    - not leapp_report_missing | default(false)
    - ansible_facts['distribution'] == 'RedHat'
    - ansible_facts['distribution_major_version'] | int == 9
  block:
    - name: leapp_legacy_network_configuration | End remediation if a matching entry was not found in the leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when:
        - leapp_inhibitor_remediation | length == 0
          or leapp_inhibitor_remediation.context | default([]) | length == 0

    - name: leapp_legacy_network_configuration | Process remediation
      when:
        - leapp_inhibitor_remediation | length > 0
        - leapp_inhibitor_remediation.context | default([]) | length > 0
      block:
        - name: leapp_legacy_network_configuration | Show the remediation command
          ansible.builtin.debug:
            var: leapp_inhibitor_remediation.context | join(' ')

        - name: leapp_legacy_network_configuration | Migrate the network connection configuration to the keyfile format
          ansible.builtin.command:
            argv: "{{ leapp_inhibitor_remediation.context }}"
          register: leapp_legacy_network_config_migration
          changed_when: leapp_legacy_network_config_migration is success

        - name: leapp_legacy_network_configuration | Show the remediation command result
          ansible.builtin.debug:
            var: leapp_legacy_network_config_migration.stdout_lines

...
