---
- name: leapp_rpms_with_rsa_sha1_detected | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_rpms_with_rsa_sha1_detected | Remove RPMs with RSA/SHA1 signature
  vars:
    entry_title: Detected RPMs with RSA/SHA1 signature
    summaries: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title) |
      map(attribute='summary') | list }}"
    summary: "{{ summaries | first if summaries | length > 0 else '' }}"
  when:
    - not leapp_report_missing | default(false)
    - ansible_facts['distribution'] == 'RedHat'
    - ansible_facts['distribution_major_version'] | int == 8
  block:
    - name: leapp_rpms_with_rsa_sha1_detected | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: summary | length == 0

    - name: leapp_rpms_with_rsa_sha1_detected | Process remediation
      when: summary | length > 0
      block:
        - name: leapp_rpms_with_rsa_sha1_detected | Parse bad_pkgs
          ansible.builtin.set_fact:
            bad_pkgs: "{{ summary.split('The list of problematic packages:') | last | trim | regex_findall('- ([^ ]+)', '\\1') | list }}"

        # TODO: Pass the bad_pkgs list directly to the dnf command?  Is there some reason
        # this has to be done one at a time?  It is much slower this way.
        - name: leapp_rpms_with_rsa_sha1_detected | Remove bad packages
          ansible.builtin.dnf:
            name: "{{ item }}"
            state: absent
          loop: "{{ bad_pkgs }}"

...
