---
- name: leapp_missing_pkg | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_missing_pkg | Install required leapp data package on public clouds
  vars:
    entry_title_pattern: Package "[-\w]+" is missing
    remediation_matches: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title_pattern) |
      map(attribute='detail.remediations') | flatten | list }}"
    remediation: "{{ remediation_matches | selectattr('type', 'eq', 'command') | first
      if remediation_matches | length > 0 else {} }}"
  when: not leapp_report_missing | default(false)
  block:
    - name: leapp_missing_pkg | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: remediation | length == 0

    - name: leapp_missing_pkg | Install the missing package via remediation command
      ansible.builtin.command:
        argv: "{{ remediation.context }}"
      when: remediation | length > 0
      register: remediation_result
      changed_when: remediation_result is success

...
