---
- name: leapp_cgroups-v1_enabled | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_cgroups-v1_enabled | Disable cgroups-v1 in favor of the new version cgroups-v2
  vars:
    leapp_inhibitor_title: cgroups-v1 enabled on the system
    remediation_matches: "{{ leapp_report_data.entries | selectattr('title', 'match', leapp_inhibitor_title) |
      map(attribute='detail.remediations') | flatten | list }}"
    leapp_inhibitor_remediation: "{{ remediation_matches | selectattr('type', 'eq', 'command') | first
      if remediation_matches | length > 0 else {} }}"
  when:
    - not leapp_report_missing | default(false)
    - ansible_distribution == 'RedHat'
    - ansible_distribution_major_version | int == 9
  block:
    - name: leapp_cgroups-v1_enabled | End remediation if a matching entry was not found in the leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: leapp_inhibitor_remediation | length == 0

    - name: leapp_cgroups-v1_enabled | Process remediation
      when: leapp_inhibitor_remediation | length > 0
      block:
        - name: leapp_cgroups-v1_enabled | Show the remediation command
          ansible.builtin.debug:
            var: leapp_inhibitor_remediation.context | join(' ')

        - name: leapp_cgroups-v1_enabled | Update the kernel arguments to disable the cgroups-v1 in favor of cgroups-v2
          ansible.builtin.command:
            argv: "{{ leapp_inhibitor_remediation.context }}"
          register: leapp_disable_cgroupsv1
          changed_when: leapp_disable_cgroupsv1 is success
          notify: Reboot the system

        - name: leapp_cgroups-v1_enabled | Show the remediation command result
          ansible.builtin.debug:
            msg: leapp_disable_cgroupsv1.stdout_lines

...
