---
- name: leapp_corrupted_grubenv_file | Continue when leapp report is missing
  ansible.builtin.debug:
    msg: "Leapp report missing. Skipping this task."
  when: leapp_report_missing | default(false)

- name: leapp_corrupted_grubenv_file | Detected a corrupted grubenv file
  when: not leapp_report_missing | default(false)
  vars:
    entry_title: Detected a corrupted grubenv file
    remediation_matches: "{{ leapp_report_data.entries | selectattr('title', 'match', entry_title) |
      map(attribute='detail.remediations') | flatten | list }}"
    hints: "{{ remediation_matches | selectattr('type', 'eq', 'hint') | list
      if remediation_matches | length > 0 else [] }}"
    hint: "{{ hints | first if hints | length > 0 else {} }}"
  block:
    - name: leapp_corrupted_grubenv_file | End execution of playbook if no entry found in leapp report
      ansible.builtin.debug:
        msg: "No matching entry found in leapp report. Skipping this task."
      when: hint | length == 0

    - name: leapp_corrupted_grubenv_file | Process remediation
      when: hint | length > 0
      vars:
        files_grub: "{{ hint.context | regex_findall('Delete (.+?) file', '\\1') | first | split(',') | map('trim') }}"
      block:
        - name: leapp_corrupted_grubenv_file | Backup file(s)
          ansible.builtin.copy:
            src: "{{ item }}"
            dest: "{{ item }}.backup"
            mode: "0644"
          with_items: "{{ files_grub }}"

        - name: leapp_corrupted_grubenv_file | Find grub.cfg file
          ansible.builtin.command: find /boot -name 'grub.cfg'
          register: grub_cfg_path
          changed_when: grub_cfg_path is success

        - name: leapp_corrupted_grubenv_file | Backup grub.cfg file
          ansible.builtin.copy:
            src: "{{ grub_cfg_path.stdout }}"
            dest: "{{ grub_cfg_path.stdout }}.backup"
            mode: "0644"

        - name: leapp_corrupted_grubenv_file | Delete file(s)
          ansible.builtin.file:
            path: "{{ item }}"
            state: absent
          with_items: "{{ files_grub }}"

        - name: leapp_corrupted_grubenv_file | Regenerate grub config
          ansible.builtin.command: grub2-mkconfig -o {{ grub_cfg_path.stdout }}
          register: grub_mkconfig
          changed_when: grub_mkconfig is success

...
