---
# tasks file for remediations

- name: Remediate the system
  ansible.builtin.include_tasks: "{{ remediation_item }}.yml"
  loop: "{{ remediation_playbooks }}"
  loop_control:
    loop_var: remediation_item
  when: remediation_item in remediation_todo

...
