---
# /etc/dnf/dnf.conf is an ini file and could be parsed to check if exclude has value and run this conditionally.
- name: leapp-post-upgrade | Clean dnf exclude list
  ansible.builtin.shell: >
    export PATH={{ os_path }};
    dnf config-manager --save --setopt exclude=''
  changed_when: true

# leapp 7 to 8 documentation cleans up old kernels
- name: leapp-post-upgrade | Block for RHEL 7 kernel cleanup
  when: ansible_facts.ansible_local.pre_ripu.distribution_major_version | int == 7
  block:
    - name: leapp-post-upgrade | Find old kernels
      ansible.builtin.find:
        paths:
          - /lib/modules
        patterns: "*.el7*"
        file_type: directory
      register: old_kernels

    - name: leapp-post-upgrade | Remove weak modules from old kernels
      ansible.builtin.shell: |
        export PATH={{ os_path }}
        set -o pipefail
        [ -x /usr/sbin/weak-modules ] && /usr/sbin/weak-modules --remove-kernel {{ item.path | basename }}
      loop: "{{ old_kernels.files }}"
      failed_when: false
      changed_when: true

    - name: leapp-post-upgrade | Remove the old kernels from the boot loader entry
      ansible.builtin.shell: |
        export PATH={{ os_path }}
        set -o pipefail
        /bin/kernel-install remove {{ item.path | basename }} {{ item.path }}/vmlinuz
      loop: "{{ old_kernels.files }}"
      changed_when: true

    - name: leapp-post-upgrade | Remove any remaining old kernel module directories
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ old_kernels.files }}"

- name: leapp-post-upgrade | Include check-for-old-packages.yml
  ansible.builtin.include_tasks: check-for-old-packages.yml

- name: leapp-post-upgrade | Remove leapp related packages
  ansible.builtin.package:
    name:
      - leapp
      - leapp-deps
      - leapp-deps-el{{ ansible_distribution_major_version }}
      - leapp-repository-deps-el{{ ansible_distribution_major_version }}
      - kernel-workaround
      - python2-leapp
    state: absent
  register: result

- name: leapp-post-upgrade | Report leapp related packages that were removed
  ansible.builtin.debug:
    var: result

- name: leapp-post-upgrade | Unset subscription-manager release
  ansible.builtin.shell: >
    export PATH={{ os_path }};
    subscription-manager release --unset
  when:
    - leapp_upgrade_type == 'satellite' or leapp_upgrade_type == 'cdn'
    - post_upgrade_unset_release | bool
    - post_upgrade_release | length == 0
  changed_when: true

- name: leapp-post-upgrade | Set subscription-manager release
  ansible.builtin.shell: >
    export PATH={{ os_path }};
    subscription-manager release --set {{ post_upgrade_release }}
  when:
    - leapp_upgrade_type == 'satellite' or leapp_upgrade_type == 'cdn'
    - post_upgrade_release | length > 0
  changed_when: true

# TODO: Unset rhui release.

- name: leapp-post-upgrade | "Register to post leapp activation key"
  community.general.redhat_subscription:
    state: present
    activationkey: "{{ satellite_activation_key_post_leapp }}"
    org_id: "{{ satellite_organization }}"
    force_register: true
  when:
    - leapp_upgrade_type == 'satellite'
    - satellite_organization is defined
    - satellite_activation_key_post_leapp is defined

- name: leapp-post-upgrade | Include custom_local_repos for local_repos_post_upgrade
  vars:
    __repos: "{{ local_repos_post_upgrade }}"
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: custom_local_repos
  when: leapp_upgrade_type == "custom"

- name: leapp-post-upgrade | Include update-and-reboot.yml
  ansible.builtin.include_tasks: update-and-reboot.yml
  when: post_upgrade_update | bool

# TODO: Validate RHEL OS versions again?

# Only found in RHEL 7 to 8 documentation
- name: leapp-post-upgrade |  Old kernels have been removed from the bootloader entry for RHEL 7 to 8
  ansible.builtin.shell: |
    set -o pipefail;
    export PATH={{ os_path }};
    grubby --info=ALL | grep "\.el7" || echo "Old kernels are not present in the bootloader."
  register: grubby_check
  when: ansible_facts.ansible_local.pre_ripu.distribution_major_version | int == 7
  changed_when: false
  failed_when: grubby_check.stdout != 'Old kernels are not present in the bootloader.'

- name: leapp-post-upgrade | Include tasks for leapp post upgrade selinux
  ansible.builtin.include_tasks: leapp-post-upgrade-selinux.yml

- name: leapp-post-upgrade | Include tasks for leapp post upgrade crypto policies
  ansible.builtin.include_tasks: leapp-post-upgrade-crypto.yml
  when: set_crypto_policies | bool
...
