---
- name: leapp-upgrade | Run parse_leapp_report to check for inhibitors
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: parse_leapp_report.yml
  when: leapp_check_analysis_results

- name: leapp-upgrade | Verify no inhibitor results found during preupgrade
  ansible.builtin.assert:
    that: not upgrade_inhibited
    msg: Inhibitors found, please investigate and rerun analysis.
  when: leapp_check_analysis_results

- name: leapp-upgrade | Register to leapp activation key
  community.general.redhat_subscription:
    state: present
    activationkey: "{{ leapp_satellite_activation_key_leapp }}"
    org_id: "{{ leapp_satellite_organization }}"
    force_register: true
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_organization is not none
    - leapp_satellite_activation_key_leapp is not none

- name: leapp-upgrade | Include custom_local_repos for local_repos_pre_leapp
  vars:
    __repos: "{{ leapp_local_repos_pre }}"
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: custom_local_repos
  when: leapp_upgrade_type == "custom"

- name: leapp-upgrade | Install packages for upgrade from RHEL 7
  ansible.builtin.package:
    name: "{{ leapp_upgrade_packages_el7 }}"
    enablerepo: "{{ leapp_upgrade_repos_el7 }}"
    state: latest # noqa package-latest
  when: ansible_distribution_major_version|int == 7

- name: leapp-upgrade | Install packages for upgrade from RHEL 8
  ansible.builtin.package:
    name: "{{ leapp_upgrade_packages_el8 }}"
    enablerepo: "{{ leapp_upgrade_repos_el8 }}"
    state: latest # noqa package-latest
  when: ansible_distribution_major_version|int == 8

- name: leapp-upgrade | Install packages for upgrade from RHEL 9
  ansible.builtin.package:
    name: "{{ leapp_upgrade_packages_el9 }}"
    enablerepo: "{{ leapp_upgrade_repos_el9 }}"
    state: latest # noqa package-latest
  when: ansible_distribution_major_version|int == 9

- name: leapp-upgrade | Include update-and-reboot.yml
  ansible.builtin.include_tasks: update-and-reboot.yml
  when: leapp_pre_upgrade_update | bool

- name: leapp-upgrade | Create /etc/leapp/files/leapp_upgrade_repositories.repo
  vars:
    __repos: "{{ leapp_local_repos }}"
    __leapp_repo_file: /etc/leapp/files/leapp_upgrade_repositories
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: custom_local_repos
  when:
    - leapp_upgrade_type == 'custom'
    - leapp_local_repos | length > 0

- name: leapp-upgrade | Include disable-previous-repo-files.yml
  ansible.builtin.include_tasks: disable-previous-repo-files.yml
  loop:
    "{{ leapp_repo_files_to_remove_at_upgrade }}"
  when: leapp_upgrade_type == "custom"

- name: leapp-upgrade | Include rmmod-kernel-modules.yml
  ansible.builtin.include_tasks: rmmod-kernel-modules.yml
  loop: "{{ leapp_kernel_modules_to_unload_before_upgrade }}"

- name: leapp-upgrade | Block to rescue leapp failures to collect errors
  block:
    - name: leapp-upgrade | Start Leapp OS upgrade
      ansible.builtin.shell: >
        set -o pipefail;
        export PATH={{ leapp_os_path }};
        ulimit -n 16384;
        leapp upgrade --report-schema=1.2.0
        {{ leapp_upgrade_opts }}
        {{ __leapp_enable_repos_args }}
        2>&1 | tee -a {{ leapp_log_file }}
      environment: "{{ leapp_env_vars }}"
      args:
        executable: /bin/bash
      async: "{{ leapp_async_timeout_maximum | int }}"
      poll: "{{ leapp_async_poll_interval | int }}"
      changed_when: true
  rescue:
    - name: leapp-upgrade | Run parse_leapp_report to check for inhibitors
      ansible.builtin.include_role:
        name: infra.leapp.common
        tasks_from: parse_leapp_report.yml

    - name: leapp-upgrade | Display inhibitors
      ansible.builtin.debug:
        var: results_inhibitors.stdout_lines
      when: results_inhibitors.stdout_lines | length > 0

    - name: leapp-upgrade | Display errors
      ansible.builtin.debug:
        var: results_errors.stdout_lines
      when: results_errors.stdout_lines | length > 0

    - name: leapp-upgrade | Fail Leapp upgrade
      ansible.builtin.fail:
        msg: >-
          Errors encountered running Leapp upgrade command.
          Review the tasks above or the result file at {{ leapp_result_filename }}.

- name: leapp-upgrade | Reboot to continue Leapp OS upgrade
  ansible.builtin.reboot:
    msg: Host is starting Leapp OS upgrade now!
    reboot_timeout: "{{ leapp_upgrade_timeout }}"
    post_reboot_delay: "{{ leapp_post_reboot_delay }}"
  timeout: "{{ leapp_upgrade_timeout }}"

# Ansible discovers /usr/bin/python on RHEL 7, then on RHEL 8 it is no longer available.
- name: leapp-upgrade | Set python interpreter to /usr/libexec/platform-python since /usr/bin/python is no longer available
  ansible.builtin.set_fact:
    ansible_python_interpreter: "{{ leapp_post_upgrade_python_interpreter }}"
  when: ansible_distribution_major_version | int >= 7

- name: leapp-upgrade | Wait for leapp_resume run once service to no longer exist
  ansible.builtin.service:
    name: leapp_resume
    state: started
  check_mode: true
  register: leapp_resume_result
  ignore_errors: true
  until: leapp_resume_result.failed
  retries: "{{ leapp_resume_retries }}"
  delay: "{{ leapp_resume_delay }}"

- name: leapp-upgrade | Block to handle grub_boot_device option
  when: leapp_grub_boot_device is not none
  block:
    - name: leapp-upgrade | Run grub2-install
      ansible.builtin.shell: >
        export PATH={{ leapp_os_path }};
        grub2-install {{ leapp_grub_boot_device }}
      changed_when: true

    - name: leapp-upgrade | Reboot to pickup grub update
      ansible.builtin.reboot:
        reboot_timeout: "{{ leapp_reboot_timeout }}"
        post_reboot_delay: "{{ leapp_post_reboot_delay }}"
      timeout: "{{ leapp_reboot_timeout }}"

...
