---
- name: leapp-upgrade | Include the parse_leapp_report role to check for inhibitors
  ansible.builtin.include_role:
    name: infra.leapp.parse_leapp_report

- name: leapp-upgrade | Verify no inhibitor results found during preupgrade
  ansible.builtin.assert:
    that: not upgrade_inhibited
    msg: Inhibitors found, please investigate and rerun analysis.
  when: check_leapp_analysis_results

- name: leapp-upgrade | Register to leapp activation key
  community.general.redhat_subscription:
    state: present
    activationkey: "{{ satellite_activation_key_leapp }}"
    org_id: "{{ satellite_organization }}"
    force_register: true
  when:
    - leapp_upgrade_type == 'satellite'
    - satellite_organization is defined
    - satellite_activation_key_leapp is defined

- name: leapp-upgrade | Include custom-local-repos.yml local_repos_pre_leapp
  vars:
    __local_repos: "{{ local_repos_pre_leapp }}"
  ansible.builtin.include_tasks: custom-local-repos.yml
  when: leapp_upgrade_type == "custom"

- name: leapp-upgrade | Include update-and-reboot.yml
  ansible.builtin.include_tasks: update-and-reboot.yml

- name: leapp-upgrade | Create /etc/leapp/files/leapp_upgrade_repositories.repo
  ansible.builtin.yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    file: /etc/leapp/files/leapp_upgrade_repositories
    owner: root
    group: root
    mode: "0644"
  loop: "{{ local_repos_leapp }}"
  when:
    - leapp_upgrade_type == 'custom'
    - local_repos_leapp | length > 0

- name: leapp-upgrade | Include disable-previous-repo-files.yml
  ansible.builtin.include_tasks: disable-previous-repo-files.yml
  loop:
    "{{ repo_files_to_remove_at_upgrade }}"
  when: leapp_upgrade_type == "custom"

- name: leapp-upgrade | Block to rescue leapp failures to collect errors
  block:
    - name: leapp-upgrade | Start Leapp OS upgrade
      ansible.builtin.shell: >
        set -o pipefail;
        export PATH={{ os_path }};
        leapp upgrade
        {{ leapp_upgrade_opts }}
        {{ leapp_enable_repos_args }}
        2>&1 | tee -a {{ log_file }}
      args:
        executable: /bin/bash
      async: "{{ async_timeout_maximum | int }}"
      poll: "{{ async_poll_interval | int }}"
      changed_when: true
  rescue:
    - name: leapp-upgrade | Include the parse_leapp_report role to check for inhibitors
      ansible.builtin.include_role:
        name: infra.leapp.parse_leapp_report

    - name: leapp-upgrade | Display inhibitors
      ansible.builtin.debug:
        var: results_inhibitors.stdout_lines
      when: results_inhibitors.stdout_lines | length > 0

    - name: leapp-upgrade | Display errors
      ansible.builtin.debug:
        var: results_errors.stdout_lines
      when: results_errors.stdout_lines | length > 0

    - name: leapp-upgrade | Fail Leapp upgrade
      ansible.builtin.fail:
        msg: >-
          Errors encountered running Leapp upgrade command.
          Review the tasks above or the result file at {{ result_filename }}.

- name: leapp-upgrade | Reboot to continue Leapp OS upgrade
  ansible.builtin.reboot:
    msg: Host is starting Leapp OS upgrade now!
    reboot_timeout: 43200
    post_reboot_delay: "{{ post_reboot_delay }}"
  timeout: 43260

# Ansible discovers /usr/bin/python on RHEL 7, then on RHEL 8 it is no longer available.
- name: leapp-upgrade | Set python interpreter to /usr/bin/python3 since /usr/bin/python is no longer available
  ansible.builtin.set_fact:
    ansible_python_interpreter: /usr/bin/python3

- name: leapp-upgrade | Wait for leapp_resume run once service to no longer exist
  ansible.builtin.service:
    name: leapp_resume
    state: started
  check_mode: true
  register: leapp_resume_result
  ignore_errors: true
  until: leapp_resume_result.failed
  retries: 360
  delay: 10

- name: leapp-upgrade | Block to handle grub_boot_device option
  when: grub_boot_device is defined
  block:
    - name: leapp-upgrade | Run grub2-install
      ansible.builtin.shell: >
        export PATH={{ os_path }};
        grub2-install {{ grub_boot_device }}
      changed_when: true

    - name: leapp-upgrade | Reboot to pickup grub update
      ansible.builtin.reboot:
        reboot_timeout: 7200
        post_reboot_delay: "{{ post_reboot_delay }}"
      timeout: 7260
...
