---
# If we store timestamp variable in vars, it  is processed dynamically at
# runtime, hence timestamp changes on each variable invocation. We want the
# timestamp to be stable so that logs are stored in the same directory.
- name: Lock timestamped variables
  ansible.builtin.set_fact:
    __leapp_timestamp: "{{ now(fmt='%Y-%m-%d_%H-%M-%S', utc=true) }}"

- name: Initialize lock, logging, and common vars
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: init_leapp_log.yml
    public: true
  vars:
    job_name: Ansible Leapp OS upgrade
    leapp_reports_dir: "{{ __leapp_reports_dir }}"
    leapp_log_file: "{{ __leapp_log_file }}"

- name: Include tasks for upgrade using redhat-upgrade-tool
  ansible.builtin.include_tasks: redhat-upgrade-tool-upgrade-el6.yml
  when: ansible_facts["distribution_major_version"]|int == 6

- name: Include tasks for leapp upgrade
  ansible.builtin.include_tasks: leapp-upgrade.yml
  when: ansible_facts["distribution_major_version"]|int >= 7

- name: Include post upgrade validation
  ansible.builtin.include_tasks: upgrade-validation.yml

- name: Include tasks for redhat-upgrade-tool post upgrade
  ansible.builtin.include_tasks: redhat-upgrade-tool-post-upgrade-el6.yml
  when: ansible_facts.ansible_local.pre_ripu.distribution_major_version|int == 6

- name: Include tasks for leapp post upgrade
  ansible.builtin.include_tasks: leapp-post-upgrade.yml
  when: ansible_facts.ansible_local.pre_ripu.distribution_major_version|int >= 7

- name: Notify RIPU in-place OS upgrade is done handler
  ansible.builtin.assert:
    that: true
    quiet: true
  changed_when: true
  notify: RIPU in-place OS upgrade is done
...
