---
- name: redhat-upgrade-tool-upgrade | Run preupg --riskcheck
  ansible.builtin.shell: >
    export PATH={{ leapp_os_path }};
    preupg --riskcheck
  register: preupg
  changed_when: false
  failed_when: false
  when: leapp_check_analysis_results

- name: redhat-upgrade-tool-upgrade | Assert that preupg was successful
  ansible.builtin.assert:
    that: not __leapp_preupg_return_codes[preupg.rc].inhibited
    msg: "{{ __leapp_preupg_return_codes[preupg.rc].msg }}"
  when: leapp_check_analysis_results

# TODO: Having issues with community.general.redhat_subscription and subscription-manager on RHEL 6.
- name: redhat-upgrade-tool-upgrade | Register to leapp activation key
  ansible.builtin.shell: >
    set -o pipefail;
    export PATH={{ leapp_os_path }};
    subscription-manager register
    --org_id: "{{ leapp_satellite_organization }}"
    activationkey: "{{ leapp_satellite_activation_key_leapp }}"
    force_register: true
  register: sub_man_reg
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_organization is not none
    - leapp_satellite_activation_key_leapp is not none
  failed_when: false
  changed_when: true

- name: redhat-upgrade-tool-upgrade | Include custom_local_repos for local_repos_post_upgrade
  vars:
    __repos: "{{ leapp_local_repos_pre }}"
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: custom_local_repos
  when: leapp_upgrade_type == "custom"

- name: redhat-upgrade-tool-upgrade | Gather package facts
  ansible.builtin.package_facts:

- name: redhat-upgrade-tool-upgrade | Get package version lock entries
  ansible.builtin.command: # noqa: command-instead-of-module
    cmd: "{{ ansible_facts['pkg_mgr'] }} versionlock list"
  register: versionlock_list
  changed_when: false
  failed_when: false

- name: redhat-upgrade-tool-upgrade | Remove all package version locks
  ansible.builtin.command: # noqa: command-instead-of-module
    cmd: "{{ ansible_facts['pkg_mgr'] }} versionlock clear"
  changed_when: true
  when:
    - versionlock_list.rc == 0
    - versionlock_list.stdout | d("") != ""

# Clean up upgrade repository from failed previous runs.
# So upgrade-and-reboot.yml can succeed.
- name: redhat-upgrade-tool-upgrade | Disable redhat-upgrade-cmdline-instrepo.repo
  ansible.builtin.include_tasks: disable-previous-repo-files.yml
  loop:
    - redhat-upgrade-cmdline-instrepo.repo
  when: leapp_upgrade_type == "custom"

- name: redhat-upgrade-tool-upgrade | Include update-and-reboot.yml
  ansible.builtin.include_tasks: update-and-reboot.yml

- name: redhat-upgrade-tool-upgrade | Disable RHEL 6 repos
  community.general.rhsm_repository:
    name: "*"
    state: disabled
  failed_when: false

- name: redhat-upgrade-tool-upgrade | Include disable-previous-repo-files.yml
  ansible.builtin.include_tasks: disable-previous-repo-files.yml
  loop: "{{ leapp_repo_files_to_remove_at_upgrade }}"
  when: leapp_upgrade_type == "custom"

- name: redhat-upgrade-tool-upgrade | Install RPM Key for RHEL 7 ISO Repository
  ansible.builtin.rpm_key:
    key: "{{ leapp_rhel_7_network_install_repo_url }}/RPM-GPG-KEY-redhat-release"
    state: present
  when: leapp_upgrade_type == "custom"

- name: redhat-upgrade-tool-upgrade | Unload kernel modules before upgrade
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: manage_kernel_modules.yml
  vars:
    leapp_kernel_modules: "{{ leapp_kernel_modules_to_unload_before_upgrade }}"
    leapp_kernel_modules_state: absent

# --cleanup-post removes Red Hat signed RHEL 6 packages and in theory should be safe.
- name: redhat-upgrade-tool-upgrade | Run redhat-upgrade-tool
  ansible.builtin.shell: >
    set -o pipefail;
    export PATH={{ leapp_os_path }};
    redhat-upgrade-tool --network 7.9 --instrepo {{ leapp_rhel_7_network_install_repo_url }} --force --cleanup-post
    2>&1 | tee -a {{ leapp_log_file }}
  register: redhat_upgrade_tool
  args:
    executable: /bin/bash
  async: "{{ leapp_async_timeout_maximum | int }}"
  poll: "{{ leapp_async_poll_interval | int }}"
  # failed_when: false
  changed_when: true

- name: redhat-upgrade-tool-upgrade | Reboot to continue OS upgrade
  ansible.builtin.reboot:
    msg: Host is starting OS upgrade now!
    reboot_timeout: "{{ leapp_upgrade_timeout }}"
    post_reboot_delay: "{{ leapp_post_reboot_delay }}"
  timeout: "{{ leapp_upgrade_timeout }}"

...
