---
- name: redhat-upgrade-tool-post-upgrade-el6 | Ensure redhat-upgrade-cmdline-instrepo.repo file is absent
  ansible.builtin.file:
    path: /etc/yum.repos.d/redhat-upgrade-cmdline-instrepo.repo
    state: absent

- name: redhat-upgrade-tool-post-upgrade-el6 | Register with post-leapp Satellite activation key
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: register-satellite-el6.yml
  vars:
    satellite_organization: "{{ leapp_satellite_organization }}"
    satellite_activation_key: "{{ leapp_satellite_activation_key_post_leapp }}"
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_activation_key_post_leapp != leapp_satellite_activation_key_leapp

- name: redhat-upgrade-tool-post-upgrade-el6 | Include custom_local_repos for local_repos_post_upgrade
  vars:
    __repos: "{{ leapp_local_repos_post_upgrade }}"
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: custom_local_repos
  when: leapp_upgrade_type == "custom"

- name: redhat-upgrade-tool-post-upgrade-el6 | Include handle-old-packages.yml
  ansible.builtin.include_tasks: handle-old-packages.yml

- name: redhat-upgrade-tool-post-upgrade-el6 | Include grub2-upgrade.yml
  ansible.builtin.include_tasks: grub2-upgrade.yml
  when:
    - ansible_facts["architecture"] == 'x86_64'
    - leapp_update_grub_to_grub_2

- name: redhat-upgrade-tool-post-upgrade-el6 | Include update-and-reboot.yml
  ansible.builtin.include_tasks: update-and-reboot.yml
...
