---
# Initialize log file and directory
#
# Variables that this file requires to be set:
# job_name: init_leapp_log | Ansible Leapp preupgrade analysis
# leapp_reports_dir: "{{ __leapp_reports_dir }}"
# leapp_log_file: "{{ __leapp_log_file }}"

- name: init_leapp_log | Ensure that log directory exists
  ansible.builtin.file:
    path: "{{ leapp_reports_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: init_leapp_log | Check for existing log file
  ansible.builtin.stat:
    path: "{{ leapp_log_file }}"
  register: log_file_stat

- name: init_leapp_log | Fail if log file already exists
  ansible.builtin.fail:
    msg: >-
      Another Ansible leapp playbook job is already running. See
      {{ leapp_log_file }} for details. If the previous job was aborted,
      rename the log file to clear this failure and try again.
  when: log_file_stat.stat.exists

# Don't forget to archive the log file at the end of the parent role
- name: init_leapp_log | Create new log file
  ansible.builtin.copy:
    content: |
      {{ job_name }}
      Job started at {{ now(fmt='%Y-%m-%dT%H:%M:%SZ', utc=true) }}
    dest: "{{ leapp_log_file }}"
    owner: root
    group: root
    mode: "0644"

- name: init_leapp_log | /etc/ansible/facts.d directory exists
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: init_leapp_log | Capture current ansible_facts for validation after upgrade
  ansible.builtin.copy:
    content: "{{ ansible_facts | ansible.builtin.combine({'ansible_local': {}}) }}"
    dest: "{{ item }}"
    mode: "0644"
    owner: root
    group: root
  loop:
    - /etc/ansible/facts.d/pre_leapp.fact
    - "{{ leapp_log_file }}"

- name: init_leapp_log | Capture a list of non-rhel versioned packages
  ansible.builtin.shell:
    cmd: >-
      set -o pipefail;
      export PATH={{ leapp_os_path }};
      rpm -qa | grep -ve '[\.|+]el{{ ansible_facts['distribution_major_version'] }}' |
      grep -vE '^(gpg-pubkey|libmodulemd|katello-ca-consumer)' |
      sort
  register: unsigned_packages_pre
  changed_when: false
  failed_when:
    - unsigned_packages_pre.rc != 0
    - unsigned_packages_pre.stderr != ""

- name: init_leapp_log | Create fact with the non-rhel versioned packages list
  ansible.builtin.set_fact:
    non_rhel_packages: "{{ unsigned_packages_pre.stdout_lines }}"

- name: init_leapp_log | Capture the list of non-rhel versioned packages in a separate fact file
  ansible.builtin.copy:
    content: "{{ non_rhel_packages }}"
    dest: "{{ item }}"
    mode: "0644"
    owner: root
    group: root
  loop:
    - /etc/ansible/facts.d/non_rhel_packages.fact
    - "{{ leapp_log_file }}"

...
