---
# tasks file for common
- name: Log directory exists
  ansible.builtin.file:
    path: "{{ log_directory }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Check for existing log file
  ansible.builtin.stat:
    path: "{{ log_file }}"
  register: log_file_stat

- name: Fail if log file already exists
  ansible.builtin.fail:
    msg: "Another RIPU playbook job is already running. See {{ log_file }} for details. If the previous job was aborted, rename the log file to clear this failure and try again."
  when: log_file_stat.stat.exists

- name: Create new log file
  ansible.builtin.copy:
    content: |
      {{ job_name }}
      Job started at {{ ansible_date_time.iso8601 }}
    dest: "{{ log_file }}"
    owner: root
    group: root
    mode: '0644'
  notify:
    - "Archive log file"
...
