# Inputs:
# - leapp_result_filename - REQUIRED - path to the Leapp pre-upgrade report file. It is set in common role vars.
---
- name: parse_leapp_report | Parse Leapp Report
  vars:
    leapp_result_directory: "{{ leapp_result_filename | dirname }}"
    leapp_result_basename: "{{ leapp_result_filename | basename | splitext | first }}"
    leapp_result_filename_prefix: "{{ leapp_result_directory }}/{{ leapp_result_basename }}"
    leapp_result_filename_json: "{{ leapp_result_filename_prefix }}.json"
    leapp_result_fact_cacheable: false
  block:
    - name: parse_leapp_report | Default upgrade_inhibited to false
      ansible.builtin.set_fact:
        upgrade_inhibited: false

    # Analysis role runs this at the end of the run, so the failure is applicable in the upgrade role only.
    - name: parse_leapp_report | Fail if pre-upgrade analysis was not run
      ansible.builtin.stat:
        path: "{{ leapp_result_filename }}"
      register: results_txt_stat
      failed_when: not results_txt_stat.stat.exists

    - name: parse_leapp_report | Collect human readable report results
      ansible.builtin.slurp:
        src: "{{ leapp_result_filename }}"
      register: results_txt
      no_log: true

    - name: parse_leapp_report | Collect JSON report results
      ansible.builtin.slurp:
        src: "{{ leapp_result_filename_json }}"
      register: results_json
      no_log: true

    - name: parse_leapp_report | Parse report results
      ansible.builtin.set_fact:
        cacheable: "{{ leapp_result_fact_cacheable }}"
        leapp_report_txt: "{{ (results_txt.content | b64decode).split('\n') | list }}"
        leapp_report_json: "{{ results_json.content | b64decode | from_json }}"
      no_log: true

    - name: parse_leapp_report | Clear leapp_inhibitors
      ansible.builtin.set_fact:
        leapp_inhibitors: []

    - name: parse_leapp_report | Check for inhibitors
      ansible.builtin.set_fact:
        cacheable: "{{ leapp_result_fact_cacheable }}"
        upgrade_inhibited: true
        leapp_inhibitors: "{{ leapp_inhibitors | default([]) + [item] }}"
      when:
        - item.key not in leapp_known_inhibitors | default([], true)
        - (leapp_high_sev_as_inhibitors | default(false, true) | bool and item.severity == 'high') or
          'inhibitor' in item.groups | default([], true) or
          'error' in item.groups | default([], true)
      loop: "{{ leapp_report_json.entries }}"

    - name: parse_leapp_report | Collect inhibitors
      vars:
        high_filter: "{{ '|Risk Factor: high' if leapp_high_sev_as_inhibitors | default(false, true) | bool else '' }}"
      ansible.builtin.command:
        cmd: awk '/\(inhibitor\){{ high_filter }}/,/^-------/' {{ leapp_result_filename }}
      register: results_inhibitors
      changed_when: false
      failed_when: false

    - name: parse_leapp_report | Collect high errors
      ansible.builtin.command:
        cmd: awk '/high \(error\)/,/^-------/' {{ leapp_result_filename }}
      register: results_errors
      changed_when: false
      failed_when: false

...
