# Inputs:
# - satellite_activation_key - the activation key to use for registration (skipped if empty)
# - satellite_organization - the organization to register with (skipped if empty)
---
# Note: RHEL 6 does not support the rhc role - using subscription-manager directly.
- name: register-satellite-el6 | Register with Satellite activation key
  ansible.builtin.shell: >
    export PATH={{ leapp_os_path }};
    subscription-manager register
    --org="{{ satellite_organization }}"
    --activationkey="{{ satellite_activation_key }}"
    --force
  register: rhsm_register
  failed_when: false
  changed_when: true
  when:
    - satellite_organization | length > 0
    - satellite_activation_key | length > 0
...
