# Inputs:
# - satellite_activation_key - REQUIRED - the activation key to use for registration
# - satellite_organization - REQUIRED - the organization to register with
# - leapp_system_roles_collection - REQUIRED - system roles collection that has rhc role (fedora.linux_system_roles or redhat.rhel_system_roles)
---
- name: register-satellite | Validate provided organization and activation key format
  ansible.builtin.assert:
    that:
      - satellite_organization | default(none) is not none
      - satellite_organization | string | length > 0
      - satellite_activation_key | default(none) is not none
      - satellite_activation_key | string | length > 0
    fail_msg: >
      Specify valid Satellite Organization and Activation key.

- name: register-satellite | Register with Satellite activation key
  ansible.builtin.include_role:
    name: "{{ leapp_system_roles_collection }}.rhc"
  vars:
    rhc_state: reconnect
    rhc_organization: "{{ satellite_organization }}"
    rhc_auth:
      activation_keys:
        keys:
          - "{{ satellite_activation_key }}"
...
