# Inputs:
# - satellite_activation_key - the activation key to use for registration (skipped if empty)
# - satellite_organization - the organization to register with (skipped if empty)
# - leapp_system_roles_collection - REQUIRED - system roles collection that has rhc role (fedora.linux_system_roles or redhat.rhel_system_roles)
---
- name: register-satellite | Register with Satellite activation key
  ansible.builtin.include_role:
    name: "{{ leapp_system_roles_collection }}.rhc"
  vars:
    rhc_state: reconnect
    rhc_organization: "{{ satellite_organization }}"
    rhc_auth:
      activation_keys:
        keys:
          - "{{ satellite_activation_key }}"
  when:
    - satellite_organization | length > 0
    - satellite_activation_key | length > 0
...
