---
- name: copy_reports_to_controller | Copy reports to the controller
  vars:
    leapp_result_directory: "{{ leapp_result_filename | dirname }}"
    leapp_result_basename: "{{ leapp_result_filename | basename | splitext | first }}"
    leapp_result_filename_prefix: "{{ leapp_result_directory }}/{{ leapp_result_basename }}"
    leapp_result_filename_json: "{{ leapp_result_filename_prefix }}.json"
    reports_directory: "{{ playbook_dir }}/leapp_reports_{{ now(fmt='%Y-%m-%d_%H-%M-%S', utc=true) }}"
  block:
    - name: copy_reports_to_controller | Ensure reports directory on controller
      ansible.builtin.file:
        path: "{{ reports_directory }}"
        state: directory
        mode: "0755"
      delegate_to: localhost
      run_once: true

    - name: copy_reports_to_controller | Copy report files to the controller
      ansible.builtin.fetch:
        src: "{{ item.src }}"
        dest: "{{ reports_directory }}/{{ leapp_result_basename }}.{{ inventory_hostname }}.{{ item.ext }}"
      loop:
        - src: "{{ leapp_result_filename_json }}"
          ext: json
        - src: "{{ leapp_result_filename }}"
          ext: txt
...
