---
- name: Notify about deprecated variables
  ansible.builtin.include_role:
    name: infra.leapp.common
    tasks_from: notify_deprecated_variable
  with_dict: "{{ __leapp_analysis_deprecated_vars }}"
  loop_control:
    loop_var: __leapp_deprecated_var

- name: Initialize lock, logging, and common vars
  ansible.builtin.import_role:
    name: infra.leapp.common
  vars:
    job_name: RIPU preupgrade analysis

- name: Include tasks for preupg assistant analysis
  ansible.builtin.include_tasks: analysis-preupg.yml
  when: ansible_distribution_major_version|int == 6

- name: Include tasks for leapp preupgrade analysis
  ansible.builtin.include_tasks: analysis-leapp.yml
  when: ansible_distribution_major_version|int >= 7

- name: Set stats for leapp_inhibitors
  ansible.builtin.set_stats:
    data:
      leapp_inhibitors: "{{ leapp_inhibitors }}"

- name: Notify analysis report is done handler
  ansible.builtin.assert:
    that: true
    quiet: true
  changed_when: true
  notify: Preupgrade analysis report is done
...
