---
# Registers with a given satellite activation key. This is separated because
# include_role cannot be used in handlers
#
# Required variable:
#   __satellite_activation_key - The activation key to use for registration

- name: register-satellite | Register with Satellite activation key
  ansible.builtin.include_role:
    name: "{{ leapp_infra_upgrade_system_roles_collection }}.rhc"
  vars:
    rhc_state: reconnect
    rhc_organization: "{{ leapp_satellite_organization }}"
    rhc_auth:
      activation_keys:
        keys:
          - "{{ __satellite_activation_key }}"
  when:
    - leapp_upgrade_type == 'satellite'
    - leapp_satellite_organization | default('') | length > 0
    - __satellite_activation_key | default('') | length > 0
...
